:root {
  --font: #E3E7EA;

  --primary: #757A89;
  --secondary: #78839B;
  --tertiary: #838B84;

  --background-primary: #171F2C;
  --background-secondary: #111720;
  --background-tertiary: #10151d;
}

body {
  background: black;
  background: radial-gradient(circle, var(--background-primary) 0%, var(--background-secondary) 100%) !important;
  color: var(--font);
}

.profileCard {
  width: 0.1rem;
}

#profile {
  width: screen;
  background: var(--background-tertiary);
  /* margin-bottom: 10vh; */
  padding-top: 1em;
  padding-bottom: 1rem;
  padding-left: 9em;
  padding-right: 9em;
}

.bg-primary {
  background-color: var(--background-primary) !important;
}

.bg-secondary {
  background-color: var(--background-secondary) !important;
}

.bg-tertairy {
  background-color: var(--background-tertiary) !important;
}

.bg-gradient-primary {
  background: black;
  background: radial-gradient(circle, var(--background-primary) 0%, var(--background-secondary) 100%) !important;
  color: var(--font);
}

.bg-gradient-secondary {
  background: black;
  background: radial-gradient(circle, var(--background-secondary) 0%, var(--background-primary) 100%) !important;
  color: var(--font);
}

.bg-gradient-tertiary {
  background: black;
  background: radial-gradient(circle, var(--background-tertiary) 0%, var(--background-primary) 100%) !important;
  color: var(--font);
}